body {
    background-color: #292929;
}

.catalogo .card {
    background-color: #c6000096;
    border-radius: 0;
    color: white;
}

.cantidad-container {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1em;
    white-space: nowrap;
    vertical-align: top;
}

.cantidad-container .btn {
    border-radius: 0;
}
.cantidad-container .cantidad {
    max-width: 2.5em;
    text-align: center;
    border-radius: 0 !important;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: white;
    padding: 0;
    border: 0;
}